<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/global.css') }}" />
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/home.css') }}" />
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/home.css') }}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
	<title></title>
</head>
<body>
	<div id = "first">
	</div>
	<br>
	<div id = "last">
	</div>
	<br>
	<div id = "sex">
	</div>
</body>
</html>